<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" >
    <title>Email Validation with DB</title>
  </head>
  <body>
    <hr>
    <div id='main'>
      <h1>EMAIL VALIDATOR MEGA 3000-ATOR</h1>
    <div class="{{session['color']}}" id="email_notification">
      {% with message = get_flashed_messages() %}
        {% if message %}
          {% for msg in message %}
          <p>
            {{ msg }}
          </p>
          {% endfor %}
        {% endif %}
      {% endwith%}
    </div>
    <form action="/validate" method="post">
      <label>Email: <input type="text" name="email" value=""></label>
      <input type="submit" value="Submit">
    </form>
  </div>
  </body>
</html>
