*{
  font-family: helvetica,sans-serif;
  color:#AED5D7;
  }

h1 {
  text-align: center;
  color:#D4C115;
}

#amount{
  font-size: 10;
  margin-top: 1px;
  color:black;
}


#main{
  width: 900px;
  height: 600px;
  background-color: #0F7D82;
  border-radius: 15px;
  padding-top: 10px;
  border-color: #D4C115;
  border-width: 3px;
  border-style: solid;

}

#yourgold{
  display: inline-block;
  margin-left: 13px
}

#gold{
  width:120px;
  height: 20px;
  background-color: white;
  display: inline-block;
}

.locations{
  width:200px;
  height:200px;
  background-color: #004D51;
  display: inline-block;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border-color: #D4C115;
  border-width: 3px;
  border-style: solid;
}

#activities{
  margin-left: 10px;
}

textarea{
  color:black;
}


button{
  color:black;
}
